@import "tailwindcss";

@font-face {
  font-family: "Kalam";
  src: url("./fonts/Kalam-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalam";
  src: url("./fonts/Kalam-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satisfy";
  src: url("./fonts/Satisfy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-handwritten-cursive:
    "Satisfy", "Segoe Script", "Apple Chancery", "Snell Roundhand", cursive,
    system-ui;
  --font-handwritten-sans:
    "Kalam", "Comic Sans MS", "Segoe Print", "Bradley Hand", system-ui;
  --color-graphite: oklch(22.17% 0.0326 264.28);
}
